:root {
  --primary-color: #c8c3ff;
  --secondary-color: #fff7eb;
  --accent-color: #c69fd5;
  --tertiary-color: #1e1e1e;
  --main-font: "georgia", serif;
  --sub-font: "Meie Script", cursive;
}
html {
  overflow-x: hidden;
}

.homepage-hero {
  background-color: var(--primary-color);
}

.hero {
  padding: 150px 0;
}

h1 {
  font-family: var(--sub-font);
  color: var(--secondary-color) !important;
  font-size: 5.5rem !important;
  text-align: center;
}

.paragraph-text {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 0 15px;
}

.cta-btn {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  margin-top: 25px;
  font-family: var(--main-font) !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.App-title {
  font-family: var(--sub-font);
  font-size: 2.3rem;
  color: var(--primary-color);
  margin-top: 18px;
}

.secondary-paragraph-text {
  font-family: var(--main-font);
  font-size: 1.3rem;
  color: var(--accent-color);
  padding: 0 15px;
}

.project-info-wrapper {
  padding: 50px 0;
}

.project-description {
  font-family: var(--main-font);
  font-size: 1.3rem;
  color: var(--tertiary-color);
  padding: 0 18px;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .secondary-paragraph-text {
    margin: 0 !important;
    font-size: 1.8rem;
  }

  .App-title {
    text-align: center;
    font-size: 2.8rem;
  }

  .project-description {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    padding: 12px;
  }
}

/*About page styles*/

.about-me-container {
  padding: 80px 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .about-me-container {
    padding: 40px 0;
  }

  .about-me-container h1 {
    text-align: center !important;
    margin-bottom: 15px;
    font-size: 2.6rem !important;
    padding: 0 10px;
  }

  .about-me-container .paragraph-text {
    text-align: center !important;
    font-size: 1.3rem !important;
    line-height: 1.6 !important;
  }

  .about-me-container .project-description {
    text-align: center !important;
    font-size: 1.3rem !important;
    line-height: 1.8 !important;
    padding: 0 18px;
  }

  .about-me-container.cta-btn {
    margin: 15px auto !important;
  }

  .about-me-container figure {
    margin: 0 0 1rem;
    display: flex;
    justify-content: center;
  }

  .about-me-container img {
    margin-top: 35px !important;
    width: 300px;
  }
}

@media (max-width: 420px) {
  .about-me-container {
    padding: 30px 0;
  }

  .about-me-container h1 {
    text-align: center !important;
    margin-bottom: 10px;
    font-size: 1.8rem !important;
  }

  .about-me-container .paragraph-text {
    text-align: center !important;
    line-height: 1.5 !important;
  }

  .about-me-container .project-description {
    text-align: center !important;
    line-height: 1.8 !important;
  }

  .about-me-container.cta-btn {
    margin: 10px auto !important;
  }

  .about-me-container figure {
    margin: 0 0 1rem;
    display: flex;
    justify-content: center;
  }

  .about-me-container img {
    margin-top: 30px !important;
    width: 200px;
  }
}
